.dropdown-item{
    color: teal;
    }

    
.dropdown-menu{
    background-color: rgb(228, 213, 228);
    
    
}
.navbar-brand{
    font-weight: lighter;
    color: dimgray;
    font-size: 20px;
}

nav{
   
    background-color:  #1B1A1D;
}


h2{ color: violet ;
    text-align: center;
    margin: 30px;
    font-style: oblique;
    font-weight: lighter;
    
}
.col-sm-8 img{
    margin: 0 20px;
}

.col-sm-4 i{
    color: mintcream;
    margin: 30px 100px;
    
    
  
}


p {
color: snow;
font-weight: lighter;
}

    

footer{
    
  
    font-weight: lighter;
    color: white; 
    text-align: center;
    
   
    
   
}

h5{
    
    word-spacing: 15px;
    font-weight: lighter;
    
    
}

hr{
    width:50%; height:0.1px; background: lightgray;
}
section{
    position: relative;
}


.container{
    background-color:#EAEAEA;
    width:40%;
    position: absolute;
    top: 80px;
    left: 40px;
}

.container h1{
    
    font-weight: normal;
 }








