.dropdown-item{
    color: teal;
    }

    
.dropdown-menu{
    background-color: rgb(228, 213, 228);
    
}
nav{
   
    background-color:  #1B1A1D;
}


h2{ color: turquoise;
    text-align: center;
    margin: 30px;
    
}
.col-sm-8 img{
    margin: 0 15px;
}

.col-sm-4 i{
    color: mintcream;
    margin: 30px 100px;
    
    
  
}


p {
color: snow;
}

    

footer{
    
    text-align: center;
    padding: 30px 30px;
    font-weight: lighter;
    color: white; 
}

h5{
    font-weight: lighter;
}






